.start-button {
    height: 21%;
    margin-bottom: 0;
    background-image: url('project://database/Assets/Sprites/MainMenu/start1.png?fileID=21300000&guid=e2ac096c6f7d783409d90013af2aacea&type=3#start1');
}

.exit-button {
    background-image: url('project://database/Assets/Sprites/MainMenu/exit1.png?fileID=21300000&guid=99e411806f9ee894aad4dae8fb6a1875&type=3#exit1');
}

.start-button:hover {
    background-image: url('project://database/Assets/Sprites/MainMenu/start2.png?fileID=21300000&guid=f4ac7c771410eb841bef3a28eb20d803&type=3#start2');
}

.start-button:active {
    background-image: url('project://database/Assets/Sprites/MainMenu/start3.png?fileID=21300000&guid=ca197c741a8113b4c83eec989731efdc&type=3#start3');
}

.exit-button:hover {
    background-image: url('project://database/Assets/Sprites/MainMenu/exit2.png?fileID=21300000&guid=177afff08f5da834f8b5c074027d02e8&type=3#exit2');
}

.exit-button:active {
    background-image: url('project://database/Assets/Sprites/MainMenu/exit3.png?fileID=21300000&guid=ab3eb29ea61152240b2590b0f634842c&type=3#exit3');
}
